 .card{
    width:250px;
    height:250px;
    float: left;
    padding:5px;
    position: relative;
} 
 



/* .card{
    position: relative;
    width:250px;
    height:250px;
    
}


.srcTag{
    width: 248px; height: 248px; position: absolute;
    display: block;
    border-radius: 4px;
    overflow: hidden;
} */